@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    scroll-behavior: smooth;
    list-style: none;
}
.container{
  width:100%;
  height:100vh;
  font-family: 'Anton', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EF709D;
  font-size: 1.5vw;
}
.bodyCalc{
  width: 40vw;
  height: 60vh;
  background-color: #70E4EF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20%;
  box-shadow: inset 1em 1em #3772FF;
}
.bodyCalc h2{
  font-size: 2vw;
}
.numberBox{
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
input{
  border:none;
  width: 15vw;
  height: 4vh;
  border-radius:20px;
  background-color: rgb(212, 234, 245);
  
}
.calc-button{
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Anton', sans-serif;
}
.calc-button button{
  width: 3vw;
  height: 5vh;
  border-radius: 20px;
  border-style:groove;
  background-color: #EF709D;
  border: none;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(212, 234, 245);
}
.calc-button :hover{
  cursor: pointer;
  width: 3.5vw;
  height: 5.5vh;
  transition: all .1s;
}
.clearButton{
  border: none;
  border-radius: 20%;
  color: #EF709D;
  background-color: rgb(212, 234, 245);
}

/* #3772FF
#70E4EF
#EF709D */